.navbar{
    background: black !important;
    height: 15vh !important;
    z-index: 1 !important;
    border: 1px solid transparent !important;
}
.home{
    position: relative;
}

.portada{
    background-image: url("../img/business-woman-working-on-laptop.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw !important;
    height: 86vh !important;
    margin-top: -2%;
    position: relative;
    border: 1px solid transparent;
    z-index: 0 !important;
}

.titulo{
    font-size: 5vw;
    position: absolute;
    top: 10%;
    right: 3%;
}
.subtitulo{
    font-size: 2vw;
    position: absolute;
    top: 30%;
    right: 3%;
}

.about{
    background-color: black !important;
    margin-top: -2%;
    border: 1px solid transparent;
}

.letra{
    margin-top: 6% !important;
    margin-bottom: 6% !important;
    margin: 4%;
    color: white;
    font-size: 3vw;
}

.abilities{
    justify-content: left !important;
    text-align: left !important;
}

.abititle{
    margin: 6%;
    font-size: 5vw;
}

.list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6%;
}

.listItem{
    margin-left: 6%;
    margin-right: 6%;
    font-size: 2vw ;
}

.proyect{
    background-color: black;
    border: 1px solid transparent;
}

.protitle{
    margin: 8% !important;
    font-size: 5vw;
    color: white;
}

.proyec{
    margin: 10%;
    margin-bottom: 10% !important;
    border: 1px solid transparent;
}

.proytitle{
    font-size: 4vw;
    color: white;
}

.prosubtile{
    font-size: 3vw;
    color: white;
}

.date{
    font-size: 2vw;
    color: white;
}

.proylistitem{
    font-size: 2vw ;
    color: white;
}

.repo{
    border: 1px solid transparent;
    margin-top: 10% !important;
    color: red;
}

.experience{
    background-color: white;
    border: 1px solid transparent;
}

.extitle{
    margin: 8% !important;
    font-size: 5vw;
    color: black;
}

.exproyec{
    margin: 10%;
    margin-bottom: 10% !important;
    border: 1px solid transparent;
}

.exxtitle{
    font-size: 4vw;
    color: black;
}

.exsubtile{
    font-size: 3vw;
    color: black;
}

.exdate{
    font-size: 2vw;
    color: black;
}

.exlistitem{
    font-size: 2vw ;
    color: black;
}

.education{
    background-color: black;
    border: 1px solid transparent;
}

.edtitle{
    margin: 8% !important;
    font-size: 5vw;
    color: white;
}

.edproyec{
    margin: 10%;
    margin-bottom: 10% !important;
    border: 1px solid transparent;
}

.eddtitle{
    font-size: 4vw;
    color: white;
}

.edsubtile{
    font-size: 3vw;
    color: white;
}

.eddate{
    font-size: 2vw;
    color: white;
}

.edlistitem{
    font-size: 2vw ;
    color: white;
}

.idioma{
    background-color: white;
    border: 1px solid transparent;
}

.idtitle{
    margin: 8% !important;
    font-size: 5vw;
    color: black;
}

.cv{
    background-color: black;
    border: 1px solid transparent;
    justify-content: center;
    text-align: center;
    margin-bottom: 10%;
    position: relative;
}

.cvtitle{
    margin: 8% !important;
    font-size: 5vw;
    color: white;
}

.btn{
    width: 40vw;
    height: 20vh;
    background-color: red;
    border-radius: 10vw;
}

.btna{
    color: white;
    font-size: 3vw;
    text-decoration: none;
}